<h1>Welcome to Car Sales Inventory</h1>
<h2>The best app to find the best cars</h2>

<h1>Login</h1>
<%= form_tag '/login' do %>
   <%= label_tag :name %>
   <%= text_field_tag :name %>
   <%= submit_tag "Login"%>
<%end%>